body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: $color-fon;
    padding: 16px 0;
    margin-bottom: 94px;
    &__btn {
        display: none;
    }
    &__nav {
        min-height: 102px;
        background-color: #fff;
        justify-items:center;
        align-content: center;
        padding: 0 30px;
        margin-bottom: 16px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        justify-self: start;
    }
    &__item {
        position: relative;
        min-width: 103px;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 1.575px;
        text-transform: uppercase;
        color: $color-text;
        cursor: pointer;
        & svg {
            position: relative;
            right: -2px;
            top: -2px;
        }
    }
    &__link {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 1.575px;
        text-transform: uppercase;
        color: $color-text;
    }
    &__sublink {
        display: none;
    }
    &__logo {
        justify-self: center;
    }
    &__search {
        justify-self: end;
        align-self: center;
        &-link {
            margin-right: 20px;
            &:last-child {
                margin: 0;
            }
        }
    }
    &__bg {
        background-image: url('../images/header-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 700px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        padding: 64px 64px;
    }
    &__title {
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 1.8px;
        color: $color-text;
        margin-bottom: 10px;
    }
    &__appeal {
        font-size: 45px;
        line-height: 60px;
        text-align: right;
        color: $color-text;
        margin-bottom: 25px;
    }
    &__sub {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 1.575px;
        text-transform: uppercase;
        color: $color-fon;
        background-color: $color-text;
        padding: 16px 25px;
    }
}

.happy-place {
    &__inner {
        max-width: 1195px;
        margin: 0 auto 90px;
        row-gap: 25px;
    }
    &__text {
        font-weight: 400;
        font-size: 57px;
        line-height: 81px;
        text-align: center;
        color: $color-text;
    }
    &__shop {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
        color: $color-text;
        justify-self: end;
        margin: 0 35px 0 auto;
        padding: 2px 10px 1px 4px;
        border-bottom: 2px solid $color-text;
        & a {
            color:inherit;  
          }
        & svg {
            position: relative;
            left: 3px;
        }
    }
    &__stories {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
        color: $color-text;
        justify-self: start;
        margin: 0 auto 0 35px;
        padding: 2px 10px 1px 4px;
        border-bottom: 2px solid $color-text;
        & a {
          color:inherit;  
        }
        & svg {
            position: relative;
            left: 3px;
        }
    }
}

.collection {
    background-color: $color-fon;
    padding: 63px 0 81px;
    margin-bottom: 23px;
    &__inner {
        justify-items: center;
    }
    &__title {
        margin-bottom: 80px;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px; 
        color: $color-text; 
    }
    &__board {
        text-align: center;
        &-maple {
            margin-bottom: 7px;
            font-size: 16px;
            line-height: 26px;
            color: $color-text;
        }
        &-price  {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 1.62px;
            color: #717353;
        }
    }
}

.essentials {
    background-color: $color-fon;
    padding: 16px;
    margin-bottom: 24px;
    &__inner {
        width: 100%;
        height: 700px;
        background-image: url('../images/essential-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        padding-top: 62px;
    }
    &__title {
        margin-bottom: 11px;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 1.8px;
        color: $color-text;
    }
    &__text {
        font-size: 50px;
        line-height: 60px;
        margin: 0 auto;
        color: $color-text;
        max-width: 1093px;
    }
}

.design-story {
    background-color: $color-fon;
    margin-bottom: 24px;
    &__inner {
        padding: 64px 0 64px 16px;
    }
    &__right {
        text-align: center;
        padding-top: 62px;
    }
    &__title {
        font-weight: 400;
        font-size: 29px;
        line-height: 39px;
        color: $color-text;
        margin-bottom: 32px;
    }
    &__separator {
        height: 1px;
        width: 40px;
        margin: 0 auto 33px;
        background: #717353;
    }
    &__text {
        width: 347px;
        margin: 0 auto;
        font-family: 'Jost', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $color-text;
    }
}

.your-table {
    background-color: $color-fon;
    margin-bottom: 40px;
    &__inner {
        padding: 64px 16px 64px 0;
    }
    &__left {
        text-align: center;
        padding-top: 62px;
    }
    &__title {
        font-weight: 400;
        font-size: 29px;
        line-height: 39px;
        color: $color-text;
        margin-bottom: 32px;
    }
    &__separator {
        height: 1px;
        width: 40px;
        margin: 0 auto 33px;
        background: #717353;
    }
    &__text {
        width: 344px;
        margin: 0 auto;
        font-family: 'Jost', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $color-text;
    }
}

.subscribe {
    background-color: $color-fon;
    margin-bottom: 40px;
    &__inner {
        text-align: center;
        padding: 63px 0;  
    }
    &__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 39px; 
        color: $color-text;
        margin-bottom: 16px; 
    }
    &__text {
        font-size: 17px;
        line-height: 29px;
        color: $color-text;
        margin-bottom: 48px;
    }
    &__form {
        &-mail {
            width: 340px;
            border: none;
            border-bottom: 1px solid $color-text;
            background: transparent;
            margin-right: 16px;
        }
        &-btn {
            position: relative;
            bottom: -1px;
            font-size: 15px;
            line-height: 23px;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            color: $color-fon;
            background-color: $color-text;
            width: 144px;
            height: 24px;
            cursor: pointer;
        }
    }
}

.moments {
    background-color: $color-fon;
    margin-bottom: 128px;
    &__inner {
        justify-items: center;
        padding: 64px 0;
    }
    &__title {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
        color: $color-text;
    }
}

.footer {
    background-color: $color-text;
    color: $color-fon;
   
    &__separator {
        width: 40px;
        height: 1px;
        background-color: $color-fon;
        margin-bottom: 17px;
        &--mod {
            margin-bottom: 25px;
        }
    }
    &__inner {
        padding: 62px 0 106px;
       
    }
    &__kinn {
        &-home {
            
        }
        &-year {
            display: inline-block;
            margin-bottom: 15px;
        }
        &-link {
            color: inherit;
            display: inline-block;
            font-size: 15px;
        }
        &-mail {
            color: inherit;
            line-height: 25px;
        }
    }
    &__explore {
        text-transform: uppercase;
        letter-spacing: 1.575px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        &-title {
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            margin-bottom: 17px;
        }
        &-item {
           margin-bottom: 16px;
        //    cursor: pointer; 
        }
    }
    &__help {
        text-transform: uppercase;
        letter-spacing: 1.575px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        &-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 17px;
        }
        &-item {
            margin-bottom: 15px; 
        }
    }
    &__network {
        justify-self: end;
        &-link {          
            margin-right: 19px;
            & svg {
                transition: ease .4s;
            }
            &:last-child {
                margin: 0;
            }
        }
        &-link:hover svg {
            transform: scale(1.8);
            transition: ease .4s;
            opacity: calc(0.5);
        }
    }
}

@media (max-width:1280px) {
    .design-story {
        &__left {
            grid-column: span 6;
            &-img {
                width: 100%;
                height: 100%;
            }
        }
        &__text {
            max-width: 347px;
        }
        &__right {
            grid-column: span 6;
        }
    }
    .your-table {
        &__left {
            grid-column: span 6;
        }
        &__text {
            max-width: 344px;
        }
        &__right {
            grid-column: span 6;
            &-img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .moments {
        &__inner {
            gap: 10px;
        }
        &__item-img {
            grid-column: span 6;
            width: 100%;
            height: auto;
        }
    }
}
@media (max-width:1230px) {
    .header {
        &__list {
            gap: 20px;
        }
        &__logo {
            justify-self: end;
        }
    }

    .collection {
        padding-bottom: 10px;
        &__board {
            width: 100%;
            grid-column: span 12;
            margin-bottom: 45px; 
            &-img {
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
    }
}
@media (max-width:1070px) {
    header {
        &__logo {
            justify-self: auto;
            text-align: right;
        }
    }
    .logo {
        display: block;
        margin: 0 -60px 0 0;
    } 
    .footer {
        &__kinn { 
            padding: 0 25px 0 8px;
        }
    }
}

@media (max-width:970px) {
    .header {
        &__nav {
            display: flex;
            justify-content: space-between;
            
        }
        &__list {
           display: none;
           width: 96%;
           position: absolute;
           top: 120px;
           left: 17px;
           right: 17px;
           z-index: 1;
           background-color: $color-fon;
           margin: 0 auto;
           padding: 10px 0;
           text-align: center;
        }
        &__item {
            padding: 15px 0;
        }
        &__logo {
            align-self: center;
        }
        &__btn {
            align-self: center;
            display: block;
            width: 60px;
            height: 50px;
            background-color: transparent;
            border: none;
            border-bottom: 4px solid black;
            border-top: 4px solid black;
            padding: 0;
            & span {
                display: block;
                height: 4px;
                background-color: black;
                width: 100%;
            }
            
        }
    }
}

@media (max-width:770px) {
    .header {
        &__appeal {
            font-size: 35px;
        }
    }
    .happy-place {
        &__text {
            font-size: 39px;
        }
    }
    .essentials {
        &__text {
            font-size: 39px;
        }
    }
    .design-story {
        &__inner {
            padding: 25px 0;
        }
        &__left {
            grid-column: span 12;
            &-img {
                width: 100%;
            }
        }
        &__right {
            grid-column: span 12;
            padding-top: 25px;
        }
    }
    .your-table {
        &__inner {
            padding: 25px 0;
        }
        &__left {
            grid-column: span 12;
            padding-top: 0;
            padding-bottom: 25px;
        }
        &__right {
            grid-column: span 12;
            &-img {
                width: 100%;
            }
        }
    }
}

@media (max-width:530px) {
    .logo {
        margin: 0 auto;
    }
    .header {
        &__nav {
            flex-direction: column;
        }
        &__btn {
            margin-bottom: 20px;
        }
        &__logo {
            width: 100%;
            order: 1;
        }
        &__search {
            order: -1;
            margin-bottom: 20px;
        }
    }
    .subscribe {
        &__form-mail {
            margin: 0;
            margin-bottom: 15px;
        }
    }
    .moments {
        margin-bottom: 15px;
        &__item-img {
            grid-column: span 12;
        }
    } 
    .footer {
        &__inner {
            padding-top: 30px;
        }
        &__separator {
            display: none;
        }
        &__kinn {
            grid-column: span 12;
            margin-bottom: 40px;
            text-align: center;
        }
        &__explore {
            grid-column: span 6;
            text-align: center;
        }
        &__help {
            grid-column: span 6;
            text-align: center;
        }
        &__network {
            grid-column: span 12;
            text-align: center;
            justify-self: auto;
            padding-top: 67px;
        }
    }
}

@media (max-width:370px) {
    .happy-place {
        &__text {
            font-size: 25px;
            line-height: 40px;
        }
    }
    .essentials {
        &__text {
            font-size: 25px;
            line-height: 65px;
        }
        
    }
}
//работа с js******************************

.footer__shop-active,
.footer__stories-active {
    position: relative;
}

.footer__subblock-stories,
.footer__subblock-shop,
.header__subblock-shop,
.header__subblock-stories {
    display: none;
    padding: 5px 0 0;
    height: 100px;
    width: 100px;
    background-color: $color-fon;
    color: $color-text;
    position: absolute;
    z-index: 1;
    left: 10px;
    border-radius: 10px;
}
.header__subblock-shop,
.header__subblock-stories {
    background-color: $color-text;
    color: $color-fon;
}
.active {
    display: block;
}
.footer__sublink {
    display: block;
    height: 20px;
    text-align: center;
    margin-bottom: 10px;
} 
