@import url("https://fonts.googleapis.com/css2?family=Jost&family=Open+Sans&family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img,
svg {
  vertical-align: middle;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

.grid-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.grid-col-1 {
  grid-column: span 1;
}

.grid-col-2 {
  grid-column: span 2;
}

.grid-col-3 {
  grid-column: span 3;
}

.grid-col-4 {
  grid-column: span 4;
}

.grid-col-5 {
  grid-column: span 5;
}

.grid-col-6 {
  grid-column: span 6;
}

.grid-col-7 {
  grid-column: span 7;
}

.grid-col-8 {
  grid-column: span 8;
}

.grid-col-9 {
  grid-column: span 9;
}

.grid-col-10 {
  grid-column: span 10;
}

.grid-col-11 {
  grid-column: span 11;
}

.grid-col-12 {
  grid-column: span 12;
}

body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #FFFFEF;
  padding: 16px 0;
  margin-bottom: 94px;
}

.header__btn {
  display: none;
}

.header__nav {
  min-height: 102px;
  background-color: #fff;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 30px;
  margin-bottom: 16px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  justify-self: start;
}

.header__item {
  position: relative;
  min-width: 103px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1.575px;
  text-transform: uppercase;
  color: #56593D;
  cursor: pointer;
}

.header__item svg {
  position: relative;
  right: -2px;
  top: -2px;
}

.header__link {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1.575px;
  text-transform: uppercase;
  color: #56593D;
}

.header__sublink {
  display: none;
}

.header__logo {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__search {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__search-link {
  margin-right: 20px;
}

.header__search-link:last-child {
  margin: 0;
}

.header__bg {
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 64px 64px;
}

.header__title {
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 1.8px;
  color: #56593D;
  margin-bottom: 10px;
}

.header__appeal {
  font-size: 45px;
  line-height: 60px;
  text-align: right;
  color: #56593D;
  margin-bottom: 25px;
}

.header__sub {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1.575px;
  text-transform: uppercase;
  color: #FFFFEF;
  background-color: #56593D;
  padding: 16px 25px;
}

.happy-place__inner {
  max-width: 1195px;
  margin: 0 auto 90px;
  row-gap: 25px;
}

.happy-place__text {
  font-weight: 400;
  font-size: 57px;
  line-height: 81px;
  text-align: center;
  color: #56593D;
}

.happy-place__shop {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #56593D;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 0 35px 0 auto;
  padding: 2px 10px 1px 4px;
  border-bottom: 2px solid #56593D;
}

.happy-place__shop a {
  color: inherit;
}

.happy-place__shop svg {
  position: relative;
  left: 3px;
}

.happy-place__stories {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #56593D;
  -ms-grid-column-align: start;
      justify-self: start;
  margin: 0 auto 0 35px;
  padding: 2px 10px 1px 4px;
  border-bottom: 2px solid #56593D;
}

.happy-place__stories a {
  color: inherit;
}

.happy-place__stories svg {
  position: relative;
  left: 3px;
}

.collection {
  background-color: #FFFFEF;
  padding: 63px 0 81px;
  margin-bottom: 23px;
}

.collection__inner {
  justify-items: center;
}

.collection__title {
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #56593D;
}

.collection__board {
  text-align: center;
}

.collection__board-maple {
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 26px;
  color: #56593D;
}

.collection__board-price {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.62px;
  color: #717353;
}

.essentials {
  background-color: #FFFFEF;
  padding: 16px;
  margin-bottom: 24px;
}

.essentials__inner {
  width: 100%;
  height: 700px;
  background-image: url("../images/essential-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 62px;
}

.essentials__title {
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1.8px;
  color: #56593D;
}

.essentials__text {
  font-size: 50px;
  line-height: 60px;
  margin: 0 auto;
  color: #56593D;
  max-width: 1093px;
}

.design-story {
  background-color: #FFFFEF;
  margin-bottom: 24px;
}

.design-story__inner {
  padding: 64px 0 64px 16px;
}

.design-story__right {
  text-align: center;
  padding-top: 62px;
}

.design-story__title {
  font-weight: 400;
  font-size: 29px;
  line-height: 39px;
  color: #56593D;
  margin-bottom: 32px;
}

.design-story__separator {
  height: 1px;
  width: 40px;
  margin: 0 auto 33px;
  background: #717353;
}

.design-story__text {
  width: 347px;
  margin: 0 auto;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #56593D;
}

.your-table {
  background-color: #FFFFEF;
  margin-bottom: 40px;
}

.your-table__inner {
  padding: 64px 16px 64px 0;
}

.your-table__left {
  text-align: center;
  padding-top: 62px;
}

.your-table__title {
  font-weight: 400;
  font-size: 29px;
  line-height: 39px;
  color: #56593D;
  margin-bottom: 32px;
}

.your-table__separator {
  height: 1px;
  width: 40px;
  margin: 0 auto 33px;
  background: #717353;
}

.your-table__text {
  width: 344px;
  margin: 0 auto;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #56593D;
}

.subscribe {
  background-color: #FFFFEF;
  margin-bottom: 40px;
}

.subscribe__inner {
  text-align: center;
  padding: 63px 0;
}

.subscribe__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  color: #56593D;
  margin-bottom: 16px;
}

.subscribe__text {
  font-size: 17px;
  line-height: 29px;
  color: #56593D;
  margin-bottom: 48px;
}

.subscribe__form-mail {
  width: 340px;
  border: none;
  border-bottom: 1px solid #56593D;
  background: transparent;
  margin-right: 16px;
}

.subscribe__form-btn {
  position: relative;
  bottom: -1px;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #FFFFEF;
  background-color: #56593D;
  width: 144px;
  height: 24px;
  cursor: pointer;
}

.moments {
  background-color: #FFFFEF;
  margin-bottom: 128px;
}

.moments__inner {
  justify-items: center;
  padding: 64px 0;
}

.moments__title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #56593D;
}

.footer {
  background-color: #56593D;
  color: #FFFFEF;
}

.footer__separator {
  width: 40px;
  height: 1px;
  background-color: #FFFFEF;
  margin-bottom: 17px;
}

.footer__separator--mod {
  margin-bottom: 25px;
}

.footer__inner {
  padding: 62px 0 106px;
}

.footer__kinn-year {
  display: inline-block;
  margin-bottom: 15px;
}

.footer__kinn-link {
  color: inherit;
  display: inline-block;
  font-size: 15px;
}

.footer__kinn-mail {
  color: inherit;
  line-height: 25px;
}

.footer__explore {
  text-transform: uppercase;
  letter-spacing: 1.575px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.footer__explore-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 17px;
}

.footer__explore-item {
  margin-bottom: 16px;
}

.footer__help {
  text-transform: uppercase;
  letter-spacing: 1.575px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.footer__help-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 17px;
}

.footer__help-item {
  margin-bottom: 15px;
}

.footer__network {
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer__network-link {
  margin-right: 19px;
}

.footer__network-link svg {
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

.footer__network-link:last-child {
  margin: 0;
}

.footer__network-link:hover svg {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  -webkit-transition: ease .4s;
  transition: ease .4s;
  opacity: calc(0.5);
}

@media (max-width: 1280px) {
  .design-story__left {
    grid-column: span 6;
  }
  .design-story__left-img {
    width: 100%;
    height: 100%;
  }
  .design-story__text {
    max-width: 347px;
  }
  .design-story__right {
    grid-column: span 6;
  }
  .your-table__left {
    grid-column: span 6;
  }
  .your-table__text {
    max-width: 344px;
  }
  .your-table__right {
    grid-column: span 6;
  }
  .your-table__right-img {
    width: 100%;
    height: 100%;
  }
  .moments__inner {
    gap: 10px;
  }
  .moments__item-img {
    grid-column: span 6;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1230px) {
  .header__list {
    gap: 20px;
  }
  .header__logo {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .collection {
    padding-bottom: 10px;
  }
  .collection__board {
    width: 100%;
    grid-column: span 12;
    margin-bottom: 45px;
  }
  .collection__board-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

@media (max-width: 1070px) {
  header__logo {
    -ms-grid-column-align: auto;
        justify-self: auto;
    text-align: right;
  }
  .logo {
    display: block;
    margin: 0 -60px 0 0;
  }
  .footer__kinn {
    padding: 0 25px 0 8px;
  }
}

@media (max-width: 970px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__list {
    display: none;
    width: 96%;
    position: absolute;
    top: 120px;
    left: 17px;
    right: 17px;
    z-index: 1;
    background-color: #FFFFEF;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
  }
  .header__item {
    padding: 15px 0;
  }
  .header__logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: block;
    width: 60px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    padding: 0;
  }
  .header__btn span {
    display: block;
    height: 4px;
    background-color: black;
    width: 100%;
  }
}

@media (max-width: 770px) {
  .header__appeal {
    font-size: 35px;
  }
  .happy-place__text {
    font-size: 39px;
  }
  .essentials__text {
    font-size: 39px;
  }
  .design-story__inner {
    padding: 25px 0;
  }
  .design-story__left {
    grid-column: span 12;
  }
  .design-story__left-img {
    width: 100%;
  }
  .design-story__right {
    grid-column: span 12;
    padding-top: 25px;
  }
  .your-table__inner {
    padding: 25px 0;
  }
  .your-table__left {
    grid-column: span 12;
    padding-top: 0;
    padding-bottom: 25px;
  }
  .your-table__right {
    grid-column: span 12;
  }
  .your-table__right-img {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .logo {
    margin: 0 auto;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__btn {
    margin-bottom: 20px;
  }
  .header__logo {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__search {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;
  }
  .subscribe__form-mail {
    margin: 0;
    margin-bottom: 15px;
  }
  .moments {
    margin-bottom: 15px;
  }
  .moments__item-img {
    grid-column: span 12;
  }
  .footer__inner {
    padding-top: 30px;
  }
  .footer__separator {
    display: none;
  }
  .footer__kinn {
    grid-column: span 12;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer__explore {
    grid-column: span 6;
    text-align: center;
  }
  .footer__help {
    grid-column: span 6;
    text-align: center;
  }
  .footer__network {
    grid-column: span 12;
    text-align: center;
    -ms-grid-column-align: auto;
        justify-self: auto;
    padding-top: 67px;
  }
}

@media (max-width: 370px) {
  .happy-place__text {
    font-size: 25px;
    line-height: 40px;
  }
  .essentials__text {
    font-size: 25px;
    line-height: 65px;
  }
}

.footer__shop-active,
.footer__stories-active {
  position: relative;
}

.footer__subblock-stories,
.footer__subblock-shop,
.header__subblock-shop,
.header__subblock-stories {
  display: none;
  padding: 5px 0 0;
  height: 100px;
  width: 100px;
  background-color: #FFFFEF;
  color: #56593D;
  position: absolute;
  z-index: 1;
  left: 10px;
  border-radius: 10px;
}

.header__subblock-shop,
.header__subblock-stories {
  background-color: #56593D;
  color: #FFFFEF;
}

.active {
  display: block;
}

.footer__sublink {
  display: block;
  height: 20px;
  text-align: center;
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */